.menu {
			padding: 20upx 10upx;

			text-align: center;

			.uni-flex-item {
				padding: 5px;

				&:active {
					background-color: #e4e4e4;
				}
			}

			.menu-image {
				background: #e4e4e4;
				width: 22px !important;
				padding: 11px !important;
				height: 22px !important;
				border-radius: 22px !important;

			}
		}
		
		
.yangan{
	.popup{
		.uni-mask,.uni-popup{
			top: 160upx;
		}
	}
}
.active{
	&:active {
		background-color: #e4e4e4;
	}
}


			.meg-border {
				position: relative;

				&:after {
					position: absolute;
					z-index: 3;
					right: 0;
					bottom: 0;
					left: 12upx;
					right: 12upx;
					height: 1px;
					content: '';
					-webkit-transform: scaleY(0.5);
					-ms-transform: scaleY(0.5);
					transform: scaleY(0.5);
					background-color: #c8c7cc;
				}
			}
